.twitch-color{
    background-color: rgb(119,44,232);
}
.maincolor{
    background-color: #051723;
}
.icono {
    width:100%;
    height: inherit;
    max-height: 100%;
}

.banner{
    position:sticky;
    top:0px;
    transition: height 0.5s;
    height:70px;
}
.banner:hover{
    transition-property:height;
    transition-duration:0.5s;
    transition-delay:0s;
    height:80px;
}
.container{
padding:0px;
border:0px;
}
#iconc{
    padding:0px;
    border:0.1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display:flex;
    text-align:center;
    padding:3px;
}
.centrar {
    text-align:center;
}
.link-navs{
    color:white;
}

.nav > a {
    padding-top: 15px;
}

.nav:hover > a {
    padding-top: 20px;
}

