.twitch-color{
    background-color: rgb(102, 63, 160);
}
.maincolor{
    background-color: #051723;
}
.icono {
    width:100%;
    height: inherit;
    max-height: 100%;
}

.banner{
    transition: height 0.5s;
    height:70px;
    
}
.banner:hover{
    transition-property:height;
    transition-duration:0.5s;
    transition-delay:0s;
    height:80px;
}

#iconc{
    padding:0px;
    border:0.1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display:flex;
    text-align:center;
    padding:3px;
}
.centrar {
    text-align:center;
}
.link-navs{
    color:white;
}

.nav > a {
    transition-property:padding;
    transition-duration:0.3s;
    transition-delay:0s;
    padding-top: 15px;
}

.nav:hover > a {
    transition-property:padding;
    transition-duration:0.3s;
    transition-delay:0s;
    padding-top: 20px;
}
.img-car{
   height:30vw;
   width:100%;
   object-fit: fill;
   /* box-shadow: 0px 5px 10px blueviolet; */
}


li>a:hover{
    background-color:navy;
   
}
li>a {
    border-radius:30px;
}
.resaltar{
    color:white;
    font-weight: bolder;
}
.featurette-divider{
    background-color: white;
}
.featurette-heading, .lead{
    color:white
}
.button-nav{
    color:white;
    border-radius:10%;
}
.button-nav:hover{
    background-color:navy;
    color:white;
}
.centrado{
    margin-top:100px;
}