.fondo{
    background-color: #051723;
}

.saludo{
    background-color: rgb(119,44,232);
    border:3px #051723;
}

#nombre_Usuario{
    color:white;
    font-size:40px;
    min-height:15px;
    font-weight: bold;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    vertical-align: middle;
    text-align:center;
}

#foto_Perfil{
    width:80%;
    height:80%;
    display:flex;
    height:10vh;
    width:10vh;
    min-width:14px;
    justify-content:center;
    height:100%;
}

.navegacion_Barra{
    background-color: blueviolet;
    margin-right:3px;
    margin-left:3px;
    border:3px;
}

#marca{
    color:white;
}

#perfil_Configuracion{
    color:whitesmoke;
    padding-left:3px;
    padding-right:3px;
}

#siguiendo{
    color:whitesmoke;
    padding-left:3px;
    padding-right:3px;
}

#seguridad{
    color:whitesmoke;
    padding-left:3px;
    padding-right:3px;
}